
misc/._Step7a.png
*.pyc
.eggs/colour-0.1.5-py3.8.egg/colour.py
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/DESCRIPTION.rst
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/LICENSE.txt
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/metadata.json
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/PKG-INFO
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/RECORD
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/requires.txt
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/top_level.txt
.eggs/colour-0.1.5-py3.8.egg/EGG-INFO/WHEEL
.eggs/README.txt
.eggs/tkmacosx-1.0.4-py3.8.egg/EGG-INFO/LICENSE
.eggs/tkmacosx-1.0.4-py3.8.egg/EGG-INFO/PKG-INFO
.eggs/tkmacosx-1.0.4-py3.8.egg/EGG-INFO/RECORD
.eggs/tkmacosx-1.0.4-py3.8.egg/EGG-INFO/requires.txt
.eggs/tkmacosx-1.0.4-py3.8.egg/EGG-INFO/top_level.txt
.eggs/tkmacosx-1.0.4-py3.8.egg/EGG-INFO/WHEEL
.eggs/tkmacosx-1.0.4-py3.8.egg/test/test_tkmacosx/__init__.py
.eggs/tkmacosx-1.0.4-py3.8.egg/test/test_tkmacosx/test_variables.py
.eggs/tkmacosx-1.0.4-py3.8.egg/test/test_tkmacosx/test_widgets.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/__init__.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/__main__.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/basewidgets/__init__.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/basewidgets/button_base.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/basewidgets/colorscale_base.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/basewidgets/marquee_base.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/basewidgets/radiobutton_base.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/basewidgets/sframe_base.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/utils/__init__.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/utils/check_parameter.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/utils/colorvar_patches.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/variables/__init__.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/variables/colorvar.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/variables/dictvar.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/variables/savevar.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/widgets/__init__.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/widgets/button.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/widgets/circlebutton.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/widgets/colorscale.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/widgets/marquee.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/widgets/radiobutton.py
.eggs/tkmacosx-1.0.4-py3.8.egg/tkmacosx/widgets/sframe.py
